<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <h4>I have seen your fortune</h4>
        and declare you shall leave this world with far more
            <h5>{{ fortune[1] }}</h5>
        than it had when you arrived.
            <br> We'll be glad you came!
            <br>
            <br>
            <h4>In your memory</h4>
            we will celebrate your birthday,
                <br>{{ fortune[2] }} each year.

                We'll even have festivals for {{ fortune[3] }}, your favorite hobby!


        <h3>It was a pleasure meeting you {{ fortune[0] }}!</h3>

</body>
</html>
